@import '../utils/mixin.scss';

.button {
   align-items: center;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   outline: initial;
   padding: 20px;
   @include button(unset, unset, var(--color-detail), initial, 25px);
   &:focus {
      box-shadow: 0 0 0 2px var(--color-detail);
   }
}