@import '../utils/mixin.scss';

.productlist__container {
   width: 100%;
}
.productlist__no_search {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 220px;
   justify-content: space-between;
   margin: 100px 0 100px 0;
   width: 100%;
   h2, h3 {
      font-family: var(--font-primary);
   }
   h3 {
      font-size: var(--font-size-mid);
      line-height: calc(var(--font-size-mid) + 7px);
      text-align: center;
      width: 270px;
   }
   h2 {
      font-size: calc(var(--font-size-big) * 2);
      opacity: .1;
   }
}

.productlist__search {
   margin: 50px 0 0 0;
   h2 {
      align-items: center;
      display: flex;
      font-family: var(--font-primary);
      justify-content: center;
      text-align: center;
      margin: 50px 0;
      span {
         border-top: 1px solid #000;
         margin: 0 10px;
         width: 15px;
      }
   }
   ul {
      display: grid;
      gap: 20px;
      margin: 0 0 50px 0;
      @include media(mid) {
         grid-template-columns: repeat(2,1fr);
         gap: 20px;
      }
      @include media(big) {
         grid-template-columns: repeat(3, 1fr);
         gap: 20px;
      }
   }
}