@import '../utils//placeholder.scss';

.search__container {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 200px;
   justify-content: space-evenly;
   width: 100%;
}
.search__button_icon {
   margin-left: 20px;
   @extend %button-with-icon;
}