.search__container {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 200px;
   justify-content: space-evenly;
   width: 100%;
}
.search__img {
   height: 15px;
   width: 15px;
   background: transparent;
   margin-left: 20px;
}