// Mixin

@mixin button($width, $height, $background, $border, $radius) {
   height: $height;
   width: $width;
   background-color: $background;
   border: $border;
   border-radius: $radius;
   outline: none;
   padding: 0;
   &:active {
      transform: scale((.99));
   }
}

// Media Queries

